! Defaults for all xterm clients
xterm*background:		black
xterm*foreground:		white
xterm*highlightColor:	darkgrey
xterm*utf8:				2
!XTerm*utf8Title:		1
xterm*saveLines:		100000
xterm*loginShell:		true
xterm*cursorColor:		white
xterm*charClass:		33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*faceName:			Consolas
!xterm*faceName:			DejaVu Sans Mono
xterm*faceSize:			15
xterm*eightBitInput:	true
!xterm*termName:		xterm-256color
xterm*xftAntialias:		1
xterm*scrollBar:		true
xterm*rightScrollBar:	true
xterm*scrollbar.width:	4
xterm*scrollTtyOutput:	false
xterm*on3Clicks:		regex .*$
xterm*on4Clicks:		all

! xscreensaver ---------------------------------------------------------------
!font settings
xscreensaver.Dialog.headingFont:        -*-*-bold-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-*-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-*-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-*-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-*-bold-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-*-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-*-bold-r-*-*-14-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #EDEDED
xscreensaver.Dialog.background:         #202020
xscreensaver.Dialog.topShadowColor:     #202024
xscreensaver.Dialog.bottomShadowColor:  #202024
xscreensaver.Dialog.Button.foreground:  #EDEDFF
xscreensaver.Dialog.Button.background:  #444
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #EDEDFF
xscreensaver.Dialog.text.background:    #444
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #A9B7C4
xscreensaver.passwd.thermometer.background:  #202020
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y

!-------------------------------------------------------------------------------
! xmessage
!Xmessage*font: -xos4-terminus-*-*-*-*-*-*-*-*-*-*-iso8859-2
xmessage*background: #3F3F3F
xmessage*foreground: #F0DFAF
xmessage*form.*.shapeStyle: rectangle
xmessage*Scrollbar.width: 1
xmessage*Scrollbar.borderWidth: 0
!xmessage.form.message.Scroll: WhenNeeded
!xmessage*Buttons: Quit
!xmessage*defaultButton: Quit
!xmessage*geometry: +20+20

*vt100.translations: #override \
	Shift <Key>Up:				scroll-back(1) \n\
	Shift <Key>Down:			scroll-forw(1) \n\
	Shift <Key>Home:			scroll-back(100000) \n\
	Shift <Key>End:				scroll-forw(100000) \n\
	Ctrl Shift <KeyPress> C:	copy-selection(CLIPBOARD) \n\
	Ctrl Shift <KeyPress> V:	insert-selection(CLIPBOARD)
 
!-------------------------------------------------------------------------------
! xcursor
xcursor.theme: whiteglass
xcursor.size: 32

Xft.dpi:        110
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight



!! Appearance
urxvt.termName: rxvt-unicode
URxvt*scrollBar:          true
URxvt*thickness:          5
URxvt*scrollColor:        #1E1E1E
URxvt*scrollBar_right:    true
URxvt*scrollstyle:        plain
urxvt.background: black
urxvt.foreground: gray
!! Font prefferenes
urxvt.font: xft:DejaVu Sans Mono:pixelsize=16
urxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=16:weight=bold
urxvt.letterSpace: -1
!! Larger history limit
urxvt.saveLines: 1000000

!! Perl extensions
urxvt.perl-ext-common: default,matcher,font-size
!! Open urls in browser with Control-Click
urxvt.urlLauncher: /usr/bin/firefox
urxvt.matcher.button: C1
!! Change font size on Control-Plus/Minus
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease

!! Yeah, I am one of those, who use these keys in Vim :-(
urxvt.keysym.Home:          \033[1~
urxvt.keysym.End:           \033[4~
urxvt.keysym.Control-Up:    \033[1;5A
urxvt.keysym.Control-Down:  \033[1;5B
urxvt.keysym.Control-Left:  \033[1;5D
urxvt.keysym.Control-Right: \033[1;5C

!! Tango color theme
!! Strange - it matches tango from gnome-terminal, but looks different
URxvt.color0: rgb:00/00/00
URxvt.color1: rgb:CC/00/00
URxvt.color2: rgb:4E/9A/06
URxvt.color3: rgb:C4/A0/00
URxvt.color4: rgb:34/65/A4
URxvt.color5: rgb:75/50/7B
URxvt.color6: rgb:06/98/9A
URxvt.color7: rgb:D3/D7/CF
URxvt.color8: rgb:55/57/53
URxvt.color9: rgb:EF/29/29
URxvt.color10: rgb:8A/E2/34
URxvt.color11: rgb:FC/E9/4F
URxvt.color12: rgb:72/9F/CF
URxvt.color13: rgb:AD/7F/A8
URxvt.color14: rgb:34/E2/E2
URxvt.color15: rgb:EE/EE/EC
URxvt.colorBD: rgb:ff/ff/ff


URxvt.url-launcher:     /usr/bin/firefox
URxvt.matcher.button:   1


URxvt*externalBorder:     0
! pixels for internal border
URxvt*internalBorder:     2
! remove border
URxvt*borderLess:         false

URxvt*urgentOnBell:       true
! triple click select only logical line
URxvt*tripleclickwords:   true
! insecure mode
URxvt*insecure:           false
! maintain window after program execution
URxvt*hold:               false
! delimiters for double-click selection
URxvt*cutchars:           BACKSLASH '"'&()*,;<=>?@[]^{|}


! use font glyphs
URxvt*skipBuiltinGlyphs:    true
! number of lines between row
URxvt*lineSpace:            0
! space between letters
URxvt*letterSpace:          -1
! cursor underline
URxvt*cursorUnderline:      false
! cursor blinking
URxvt*cursorBlink:          false
! blank the pointer on keypress or timeout
URxvt*pointerBlank:         false
! reverve bf and fg colors
URxvt*reverseVideo:         false


